/****************************** Everything ******************************/
* {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
body{
    margin:0px;
}

.vote_arrows {
    display: block;
    float: left;
    margin-right: 8px;
}

.vote_item {
    display: block;
    max-height: 30px;
    padding: 5px;
    text-align: center;
}

/* Header */
header {
    box-shadow: rgba(0,0,0,0.4) 10px 10px 10px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

header li {
    float: left;
}

header #search, header #search_button {
    display:block;
    height:inherit;
    margin: auto;
    float: right;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover:not(.active) {
    background-color: #111;
}

header .active {
    background-color: #4CAF50;
}


/* Content*/
.content {
    width:960px;
    margin: 70px auto;
}


/****************************** Category page style ******************************/
.page_name {
    text-align:center;
    display:block;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.article {
    background:#F5F5F5;
    box-shadow:rgba(0,0,0,0.4) 2px 2px 5px;
    margin:32px 10px 10px 10px;
    padding:16px;
    height:auto;
    overflow:auto;
}

.article:hover {
    box-shadow:rgba(0,0,0,0.4) 2px 2px 20px;
}

.article_image {
    display:block;
    float:left;
    max-height:100px;

    padding-right:16px;
}

.article_title {
    display:block;
    margin-bottom:0px;
    padding:2px;
    font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    text-decoration:none;
    color:black;
}

.article_title:hover {
    text-decoration:underline;
}

.article_sub_element {
    display: inline-block;
    margin-right: 30px;
    font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.article_description {
    display:block;
    margin-top: 32px;
    font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}


/****************************** Article page style ******************************/
.title {
    text-align:center;
    display:block;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.article_content {
    background:#F5F5F5;
    box-shadow:rgba(0,0,0,0.4) 2px 2px 5px;
    margin:32px 10px 10px 10px;
    padding:16px;
}

.article_content_header {
    height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.article_content_image {
    display:block;
    float:left;
    max-height:100px;
    padding-right:16px;
}

.article_content_title {
    width: 100%;
    display:block;
    margin-bottom:0px;
    padding:2px;
    font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.article_content_user, .article_content_date, .article_content_category {
    font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.article_content_user {
    display:inline-block;
    margin-bottom:4px;
}

.article_content_date {
    display:inline-block;
    margin-bottom:4px;
    margin-left:32px;
}

.article_content_category {
    display:inline-block;
    margin-bottom:4px;
    margin-left:32px;
}

.article_content_description {
    display:block;
    font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.article_content_text {
    display:block;
    margin-top: 64px;
    text-indent: 50px;
    font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}


/****************************** Sidebar ******************************/
.sidenav {
    background-color: #333;
    height: auto;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 25%;
    left: 0;
    overflow-x: hidden;
}

.sidenav .category_link {
    border-bottom: 1px solid black;
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    color: white;
}

.sidenav a:hover {
    background-color: #111;
}

@media screen and (max-height: 450px) {
    .sidenav a {font-size: 18px;}
}


/****************************** Add article form ******************************/
.add_article {
    background:#F5F5F5;
    box-shadow:rgba(0,0,0,0.4) 2px 2px 5px;
    margin: auto;
    padding: 32px 64px 32px 64px;
    height:auto;
    overflow:auto;
}

.article_form_label {
    display: block;
    margin-top: 16px;
    width: 50%;
}

.article_form_textbox {
    display: block;
}

.article_form_button {
    display: block;
    margin-top: 16px;
}


/****************************** Sorting ******************************/
.sorting {
    float: right;

}

.dropdown_list {

}

/****************************** Comments ******************************/
.comments {
    background:#F5F5F5;
    margin:64px 10px 10px 10px;
    padding:16px;
}

.comment {
    background:#F5F5F5;
    margin: 0px;
    padding:0px;
    margin-bottom: 24px;
}

.comment_image {
    float: left;
    display: inline-block;
    max-height: 45px;
    max-width: 45px;
    margin-right: 16px;
}

.comment_header_item {
    display: inline-block;
    margin-right: 30px;
    font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.comment_text {
    vertical-align: text-top;
    display: inline-block;
    width: 500px;
}

.comment_section_title {
    display: block;
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
}


/****************************** Logon ******************************/
.logon_container {
    background:#F5F5F5;
    box-shadow:rgba(0,0,0,0.4) 2px 2px 5px;
    margin: 64px auto auto auto;
    padding:16px;
    height:auto;
    overflow:auto;
    text-align: center;
    width: 75%;
}

.logon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 128px;
    width: 20%;
    box-shadow:rgba(0,0,0,0.4) 2px 2px 5px;
    padding: 32px;
}

.logon_name {
    text-align:center;
    display:block;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-bottom: 64px;
}

.logon_textbox {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.cookie_checkbox {
    text-align: left;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 16px;
}

.logon_links {
    display: block;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

.logon_link_container {
    width: 45%;
    display: inline-block;
}

.logon_button {

}

.logon_register {
    width: 50%;
    color: black;
    text-decoration: none;
}

.logon_register:hover {
    text-decoration: underline;
}

.req_field_validator {
    display: inline-block;
}
